                            .desktop {
                                background-color: #1E1E1E;
                                width: 100%;
                            }
                            
                            .logo {
                                border: none;
                                margin: 0px 40px;
                                display: flex;
                                flex-direction: row;
                                position: absolute;
                                left: 25px;
                                align-items: flex-start;
                            }
                            
                            .imglogo {
                                margin-top: 10px;
                                border-radius: 25px;
                                background: #F45725;
                            }
                            
                            h1 {
                                margin-left: 32.47px;
                                font-family: 'Inter', sans-serif;
                                font-weight: 700;
                                font-size: 30px;
                                line-height: 36px;
                                display: flex;
                                align-items: center;
                                color: #FFFFFF;
                                text-shadow: 1.5px 0.745247px 1.5px #F45725;
                            }
                            
                            h4 {
                                color: #FFFFFF;
                                font-family: 'Rubik', sans-serif;
                                margin-right: none;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            
                            .flex {
                                padding: 40px;
                                display: flex;
                                flex-direction: row;
                                width: fit-content;
                                /* left: 50px; */
                            }
                            
                            .row1,
                            .row2,
                            .row3,
                            .row4 {
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                font-size: 20px;
                            }
                            
                            a {
                                color: #AFAFAF;
                                text-decoration: none;
                                font-family: 'Manrope', sans-serif;
                                font-weight: 700;
                                font-size: 17px;
                                line-height: 24px;
                            }
                            
                            .form {
                                padding: 40;
                            }
                            
                            .social {
                                position: absolute;
                                width: 40%;
                                left: 60%;
                                top: 9%;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 21px;
                                line-height: 30px;
                            }
                            
                            .image2 {
                                position: absolute;
                                width: 35px;
                            }
                            
                            .newsletter {
                                position: absolute;
                                width: auto;
                                height: auto;
                                margin-top: 20.57px;
                                line-height: 30px;
                                left: 60%;
                                top: 25%;
                            }
                            
                            .box1 {
                                padding: 20px;
                                position: absolute;
                                width: 472px;
                                height: 69px;
                                left: 60%;
                                top: 35%;
                                box-sizing: border-box;
                                border: 2px solid #AFAFAF;
                                border-radius: 10px;
                                color: #777777;
                                background: #1E1E1E;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 21px;
                                line-height: 30px;
                            }
                            
                            .button1 {
                                position: absolute;
                                width: 163px;
                                height: 62px;
                                left: 79.9%;
                                top: 35.4%;
                                background: #F45725;
                                border: none;
                                border-radius: 6px;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 21px;
                                line-height: 30px;
                                color: #FFFFFF;
                                text-align: center;
                            }
                            
                            .footer-space {
                                width: 100%;
                                height: 0px;
                                border: .5px solid #5C5C5A;
                            }
                            
                            .footer-last1 {
                                width: 369px;
                                height: 48px;
                            }
                            
                            .white {
                                margin: 0px;
                                padding-left: 60px;
                                font-family: 'Manrope', sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 24px;
                                letter-spacing: 0.005em;
                                color: #FFFFFF;
                            }
                            
                            .white1 {
                                display: flex;
                                flex-direction: column;
                                width: max-content;
                            }
                            
                            .footer-last2 {
                                width: 277px;
                                height: 26px;
                            }
                            
                            .black {
                                position: absolute;
                                right: 8.5%;
                                top: 53%;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 150%;
                                color: #777777;
                                text-align: center;
                                letter-spacing: 0.005em;
                                order: 1;
                            }
                            
                            .white2 {
                                display: flex;
                                justify-content: flex-end;
                            }
                            
                            @media screen and (max-width: 650px) {
                                .desktop {
                                    display: none;
                                }
                            }
                            
                            @media screen and (max-width: 1500px) {
                                .box1 {
                                    position: absolute;
                                    top: 250px;
                                    width: 35%;
                                }
                                .button1 {
                                    position: absolute;
                                    top: 253px;
                                    width: 14.7%;
                                }
                            }
                            
                            @media screen and (max-width: 927px) {
                                .box1 {
                                    font-size: small;
                                }
                                .button1 {
                                    font-size: medium;
                                }
                            }
                            
                            @media (min-width: 999px) and (max-width: 1175px) {
                                .row1,
                                .row2,
                                .row3,
                                .row4 {
                                    font-size: medium;
                                    padding: 5px;
                                    padding-top: 20px;
                                }
                            }
                            
                            @media screen and (max-width: 999px) {
                                .flex {
                                    display: flex;
                                    flex-direction: column;
                                    width: 40%;
                                }
                                .black {
                                    font-size: small;
                                    top: 148%;
                                }
                                .white {
                                    font-size: small;
                                }
                            }