                                .desktop {
                                    background-color: #1E1E1E;
                                    width: 100%;
                                }
                                
                                .logo {
                                    border: none;
                                    margin: 0px 40px;
                                    display: flex;
                                    flex-direction: row;
                                    position: absolute;
                                    left: 25px;
                                    align-items: flex-start;
                                }
                                
                                .imglogo {
                                    margin-top: 10px;
                                    border-radius: 25px;
                                    background: #F45725;
                                }
                                
                                h1 {
                                    margin-left: 37px;
                                    font-style: normal;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 700;
                                    font-size: 30px;
                                    line-height: 36px;
                                    display: flex;
                                    align-items: center;
                                    color: #FFFFFF;
                                    text-shadow: 1.5px 0.745247px 1.5px #F45725;
                                }
                                
                                h4 {
                                    color: #FFFFFF;
                                    font-family: 'Inter', sans-serif;
                                    margin-right: none;
                                }
                                
                                .flex {
                                    padding: 40px;
                                    display: flex;
                                    flex-direction: row;
                                    width: 700px;
                                    left: 50px;
                                }
                                
                                .row1,
                                .row2,
                                .row3,
                                .row4 {
                                    margin: 20px;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 20px;
                                }
                                
                                a {
                                    color: #AFAFAF;
                                    text-decoration: none;
                                    font-family: 'Inter', sans-serif;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 30px;
                                }
                                
                                .form {
                                    padding: 40;
                                }
                                
                                .social {
                                    position: absolute;
                                    width: 40%;
                                    left: 60%;
                                    top: 9%;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 21px;
                                    line-height: 30px;
                                }
                                
                                .image2 {
                                    position: absolute;
                                    width: 20px;
                                }
                                
                                .newsletter {
                                    position: absolute;
                                    width: auto;
                                    height: auto;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 21px;
                                    line-height: 30px;
                                    left: 60%;
                                    top: 25%;
                                }
                                
                                .box1 {
                                    padding: 20px;
                                    position: absolute;
                                    width: 472px;
                                    height: 69px;
                                    left: 60%;
                                    top: 35%;
                                    box-sizing: border-box;
                                    border: 2px solid #AFAFAF;
                                    border-radius: 10px;
                                    color: #777777;
                                    background: #1E1E1E;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 21px;
                                    line-height: 30px;
                                }
                                
                                .button1 {
                                    position: absolute;
                                    width: 163px;
                                    height: 62px;
                                    left: 79.9%;
                                    top: 35.4%;
                                    background: #F45725;
                                    border: none;
                                    border-radius: 6px;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 21px;
                                    line-height: 30px;
                                    color: #FFFFFF;
                                    text-align: center;
                                }
                                
                                @media screen and (max-width: 650px) {
                                    .desktop {
                                        display: none;
                                    }
                                }
                                
                                @media screen and (max-width: 1496px) {
                                    .box1 {
                                        position: absolute;
                                        top: 250px;
                                        width: 35%;
                                    }
                                    .button1 {
                                        position: absolute;
                                        top: 253px;
                                        width: 14.7%;
                                    }
                                }
                                
                                @media screen and (max-width: 999px) {
                                    .flex {
                                        display: flex;
                                        flex-direction: column;
                                        width: 40%;
                                    }
                                }